/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    font-family: sans-serif, poppins;
}

:root{
    --tp-bg: rgba( 0, 104, 197, .4);
    --tp-bg-hover: rgba( 0, 104, 197, .6);

    --text-light: rgb(255, 255, 255);
    --text-dark: rgb(0, 0, 0);
    --text-bg: rgb( 0, 104, 197);

    --dark-bg: rgb( 0, 104, 197);
    --light-bg: rgb(255, 255, 255);
    --shaded-bg: rgb( 231, 236, 233 );
    
    --error: rgb(255,0,0);
    --success: rgb( 39, 174, 96);
    --danger: rgb(255, 195, 0);

    /*Font sizes*/

    --site-average-text: 20px;
    --site-average-heading: 40px;
    --site-list-text: 18px;	

}

h1{
    padding: 1em;
    text-align: center;
    font-size: 40px;
}

p{
    text-align: center;
}



/*Forms*/

.account-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-form form{
    background-color: var(--tp-bg);
    width: 70%;
    max-width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 2em;
    margin: 2em 0;
}

.account-form label{
    color: #fff;
    font-size: 24px;
}

 input{
    width: 90%;
    height: 50px;
    font-size: 24px;
    border: solid 2px var(--dark-bg);
    outline: none;
    border-radius: 10px;
    color: var(--dark-bg);
    box-sizing: border-box;
    margin: 8px 0;
    padding: 12px 20px;
}

.account-form input::placeholder{
    padding: 2em;
}

button{
    padding: 10px 40px;
    font-size: 24px;
    margin: 1em;
    border-radius: 10px;
    border: none;
}

.form-layout{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

form a{
    color: white;
    text-align: center;
}


/*Success on form*/
