<div class="users">
    <div class="list-headers">
        <span>Name:</span>
        <span>Role:</span>
        <span>Email:</span>
        <span>Status:</span>
        <span>Actions:</span>
    </div>
    <ul>
        <li *ngFor="let user of users">
            <div>{{user.name}}</div>
            <div>{{user.role}}</div>
            <div>{{user.email}}</div>
            <div> <span [ngClass]="getStatusClass(user.status)">{{getApprovalStatus(user.status)}}</span></div>
            <button>Manage</button>
        </li>
    </ul>
</div>
