 <div class="alert alert-danger alert-dismissable fade show" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
     <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-success alert-dismissable fade show" role="alert" *ngIf="successMessage">
        {{ successMessage }}
         <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
 
 <form class="row justify-content-center" action="search">

        <div class="row">
            <input type="text" class="form-control" placeholder="Search Users..." >
            <button class="btn btn-primary" style="margin: 0 0 1em 0 ;">
                Search User
            </button>
        </div>

    </form>

<div class="table-responsive mt-3">
    <table class="table table-striped">
        <caption>Number of users: {{users.length}}</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let user of users">
                <td >{{ user.name }}</td>
                <td >{{ user.role }}</td>
                <td >{{ user.email }}</td>
                <td [class]="getStatusClass(user.status)">{{ user.status === 'true' ? 'Approved' : 'Pending'}}</td>
                <td data-label="Actions">
                  <span class="me-2" (click)="updateUserStatus(user.id, 'true')"><i class="bi bi-check text-success"></i></span>
                   <span class="me-2" (click)="updateUserStatus(user.id, 'false')"><i class="bi bi-x text-danger"></i></span>
                   <span class="me-2"><i class="bi bi-trash"></i></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>